%h1 Counter Strike Score Board
%h2 Daemon Control
%hr/

%ul
  %li
    %a{:href => "/daemon/status"} Status
  %li
    %a{:href => "/daemon/start"} Start
  %li
    %a{:href => "/daemon/stop"} Stop

%b Result:
%div= @result
