%h1 Counter Strike Score Board
%hr/

%table{:border => "1"}
  %tr
    %th Player
    %th Kills
    %th Headshots

  - @stats.each do |row|
    %tr
      %td= row["killer"]
      %td= row["kills"]
      %td= row["headshots"]

-# This should be replaced with an ajax call
%meta{"http-equiv" => "refresh", "content" => "2"}
